.login-arrow{
	position:absolute; 
	top:62px;
	left:51%;
}
.login-section{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-190px;
	margin-top:-134px;
	width:380px;
	height:268px;
	padding:50px 40px 40px ;
	
	background:#fff;
	box-shadow:0px 0px 10px #ccc;
	-moz-box-shadow:0px 0px 10px #ccc;
	-webkit-box-shadow:0px 0px 10px #ccc;
}
.login-section .form_item{
	float:left; 
	width:100%;
	margin-bottom:20px;
}
.login-section .form_item label{
	float:left; 
	width:80px;
	font-size:13px;
	line-height:38px;
	font-family: inherit;
	font-weight: 500;
}
.login-section .form_item input{
	float:left; 
	width:200px;
	height:38px;
	margin-left:10px;
	background:#f9f9f9;
	line-height:38px;
	padding:0px 12px;
	border:none;
}

.login-section .form_button{
	float:left;
	width:100%;
	margin-top:30px;
}
.login-section .form_button input{
	display:block;
	padding:5px 20px;
	margin:0 auto;
	background:#7ebceb;
	color:#fff; 
	border:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}