header.house-tools { height: 64px; width: 100%; background: #ffffff; border-bottom: 1px solid #e1e1e1; line-height: 64px; 
	vertical-align: middle; margin-bottom: 0px; }
  .house-tools h1 { width: 300px; height: 34px; line-height: 34px; vertical-align: middle; margin: 15px 27px; font-size: 13px;
      color: #5f5f5f; text-transform: uppercase; float: left;  }
  .house-tools a { display: block; height: 34px; float: left; }
  .house-tools h1 span { color: #5b5b5b; font-size: 20px; padding: 0px; font-weight: 200; vertical-align: middle; margin-right: 15px; }
  .header-nav {   margin: 17px 26%; float: left; }
    .header-nav a { display: block; width: 30px; height: 26px; }
    .home-tab { background: url("../img/house-icon.png") center no-repeat; background-size: 25px 19px; }
    .user-tab { background: url("../img/users-icon.png") center no-repeat; background-size: 18px 18px; }
    .list-tab { background: url("../img/list-icon.png") center no-repeat; background-size: 19px 19px;}
  .header-push { height: 22px; width: 155px; margin: 21px 0; float: right; }
    .header-push p { line-height: 22px; margin: 0; font-size: 14px; color: #323232; }
    .badge_сustom { background-color: #61a8e4; display: block; float: left; margin-right: 20px; font-size: 11px; color: #ffffff; width: 22px; height: 22px; border-radius: 11px; line-height: 22px; text-align: center; vertical-align: middle; }
    .badge_green, .badge_blue, .badge_red { width: 25px; height: 25px; border-radius: 13px; line-height: 25px; }
    .badge_blue { background-color: #80bde9; }
    .badge_red { background-color: #f1aeab; }
    .badge_green { background-color: #81d48f; }

.left-side { width: 280px; padding: 0 50px; }
  .left-side h2 { height: 35px; margin: 0; padding: 0; font-size: 21px; font-weight: 400; color: #434343; text-transform: uppercase; }
  .tasks-list { margin-right: 5px; }
    .tasks-list li { height: 25px; line-height: 25px; margin-bottom: 16px; }
      .tasks-list li a, .tasks-list li a:hover, .tasks-list li a:visited { color: #303030; font-size: 13px;  }

  .left-side .btn { width: 90px; height: 25px; padding: 0; border: none; background-color: #e0e0e0;  color: #ffffff; font-size: 11px; font-weight: 700; }
  /*.new-person { width: 90px; height: 25px; border: none; background-color: #e0e0e0;  color: #ffffff; font-size: 11px; font-weight: 700; }*/

.checkbox-left-side h5 { color: #303030; font-size: 13px; line-height: 20px; margin: 35px 5px 18px; }
  .checkbox-left-side ul { padding: 0; margin-right: 5px; }

.checkbox-left-side li { display: block; margin-bottom: 11px; height: 18px; position: relative;  }
.checkbox-left-side label { padding-left: 30px; color:#303030; font-size: 13px; }
  .checkbox-left-side input { opacity: 0; position: absolute;  margin: 0; }
.checkbox-left-side span { width: 18px; height: 18px; display: block; background: url("../img/check.png") center no-repeat; background-size: 17px 17px; position: absolute; left: 0px; top: 0px; padding-left: 10px; }
.checkbox-left-side input:checked + span { background: url("../img/check-active.png") center no-repeat; background-size: 17px 17px; }
.list-group-item { background-color: inherit; border: none; padding: 0; }