@import "noxwille.css";

@font-face {
  font-family: "Gotham Light";
  src: url(../fonts/OpenSans-Light.ttf) format('truetype')
}

@font-face {
  font-family: "Gotham Regular";
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype')
}

body {
  background-color: #f0f0f0;
  font-family: "Gotham Regular";
  min-width: 1440px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.clear {
  clear: both;
}

.aside {
  width: 280px;
}

.checkbox > ul {
  list-style-type: none;
}

.with-frontier {
  padding: 0 10px;
}

.table {
  /*width: 1080px;*/
  /*height: 644px;*/
  /*margin-bottom: 0;*/
}

.table thead th {
  cursor: pointer;
}

.table thead .name {
  min-width: 125px;
}

.table thead .profession {
  min-width: 125px;
}

.table thead .profile {
  min-width: 125px;
}

.table thead .postcode {
  min-width: 125px;
}

.table thead .email {
  min-width: 125px;
}

.table thead .phone {
  min-width: 125px;
}

.table thead .greeting {
  min-width: 125px;
}

.table thead .rooms-potential {
  min-width: 225px;
}

.table thead .practice-potential {
  min-width: 225px;
}

.table thead .enquiry-tracks {
  min-width: 125px;
}

.table thead .contact {
  min-width: 125px;
}

.table thead .mailing {
  min-width: 125px;
}

.table thead .transaction {
  min-width: 125px;
}

.table thead .validation {
  min-width: 125px;
}

.table thead .added {
  min-width: 125px;
}

.table thead .type {
  min-width: 125px;
}

.table tbody {
  border-radius: 5px;
  background-color: #ffffff;
  white-space: nowrap;
}

.table thead tr {
  height: 50px;
}

.table tbody tr {
  height: 40px;
  white-space: nowrap;
}

.table thead tr th {
  height: 50px;
  padding: 0;
  border-bottom: 0;
  color: #8c8293;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  position: relative;
}

.table thead tr th a {
  color: #8c8293;
}

.table thead tr th a:hover {
  text-decoration: none;
}

.table tbody tr td {
  height: 40px;
  padding: 0;
  border-top: 0;
  border-bottom: 1px solid #e1e1e1;
  color: #434343;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.table tbody tr td.hsla {
  color: #577ebb;
}

.table > tbody > tr:hover {
  background-color: rgb(240, 240, 240);
}

.tc-first {
  width: 195px !important;
}

.table > thead > tr > th.tc-first {
}

.table > tbody > tr > td.tc-first {
  padding-left: 8px;
}

.tc-second {
  width: 140px !important;
}

.table > thead > tr > th.tc-second {
}

.table > tbody > tr > td.tc-second {
}

.tc-third {
  width: 130px !important;
}

.table > thead > tr > th.tc-third {
}

.table > tbody > tr > td.tc-third {
}

.tc-fourth {
  width: 153px !important;
}

.table > thead > tr > th.tc-fourth {
}

.table > tbody > tr > td.tc-fourth {
  font-size: 11px;
  text-transform: uppercase;
}

.tc-fifth {
  width: 213px !important;
}

.table > thead > tr > th.tc-fifth {
  text-align: center;
}

.table > tbody > tr > td.tc-fifth {
  font-size: 11px;
  text-align: right;
  text-transform: uppercase;
}

.tc-fifth .progress {
  display: inline-block;
  height: 10px;
  width: 115px;
  margin: 0 0 0 5px;
}

.tc-sixth {
  width: 100px !important;
}

.table > thead > tr > th.tc-sixth {
  padding-right: 8px;
  text-align: right;
}

.table > tbody > tr > td.tc-sixth {
  padding-right: 8px;
  font-size: 11px;
  text-align: right;
}

.tc-seventh {
  width: 100px !important;
}

.table > thead > tr > th.tc-seventh {
  padding-left: 8px;
}

.table > tbody > tr > td.tc-seventh {
  padding-left: 8px;
  font-size: 11px;
}

.input-group {
  background-color: #ffffff;
  border-radius: 4px;
  width: 190px;
}

.input-group-addon {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #48ceff;
  text-align: center;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.input-group .form-control {
  border: 0;
  background-color: transparent;
  top: 0;
}

/*      Colors      */

.table > tbody > tr > td.dropped {
  color: #e0e0e0;
}

.table > tbody > tr > td.little {
  color: #c0c0c0;
}

.table > tbody > tr > td.some {
  color: #80bde9;
}

.table > tbody > tr > td.good {
  color: #6091b7;
}

.table > tbody > tr > td.schmoozee {
  color: #b58dc9;
}

.table > tbody > tr > td.renter {
  color: #78b38a;
}

.table > tbody > tr > td.toprenter {
  color: #5aa164;
}

.bar-invisible {
  background-color: transparent;
}

.bar-low {
  background-color: #dfdfdf;
}

.bar-medium {
  background-color: #82bfec;
}

.bar-high {
  background-color: #a0cf6d;
}

.filter-icon {
  height: 12px;
  width: 12px;
  background: url("../img/filter-icon.png") center no-repeat;
  background-size: 14px 14px;
}

.glyphicon-triangle-bottom {
  color: #e5a4d8;
}

.container-fluid {
  padding-top: 20px;
}

/* Slider */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background: #dfdfdf;

}

.ui-slider-vertical .ui-slider-handle {
  left: 0px;
  margin-left: 0;
  margin-bottom: 0px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 100px;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Showed Scroll Bar */
.ui-widget-content {
  border: 1px solid #bbb;
  background: #bbb;

}

.ui-widget-header {
  border: 1px solid #dfdfdf;
  background: #fff;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.ui-slider-vertical {
  width: 9px;
}

#slider-people-table-outter {
  position: absolute;
  right: 20px;
  top: 60px;
}

.slider-box {
  float: left;
  width: 9px;
  height: 445px;
  margin-top: 5px;
  background: #bbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

}

#slider-people-table {
  float: left;
  margin-top: 100px;
  height: 350px;
}

.header-nav {
  float: left;
  width: 185px;
  margin: 17px 0px;
  margin-left: 250px;
}

.img-arrow {
  position: absolute;
  top: 18px;
  left: 0px;
}

.img-arrow-pos1 {
  left: 12px;
}

.img-arrow-pos2 {
  left: 53px;
}

.img-arrow-pos3 {
  left: 94px;
}

/*.col-lg-9 {*/
  /*float: left;*/
  /*padding: 0px;*/
  /*min-width: 1050px;*/
/*}*/

.col-lg-3 {
  float: left;
  width: 280px;
  padding: 0 50px;
}

.table-container {
  float: left;
  width: 100%;
  min-width: 1090px;
  height: 560px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

#table-inner-container {
  position: absolute;
  width: 2300px;
  left: 0px;
  top: 0px;
}

.table-container .table-head {
  float: left;
  width: auto;
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}

.table-container .table-head li {
  float: left;
  color: #8c8293;
  font-size: 12px;
  line-height: 35px;
  position: relative;
}

.table-container .table-head li.list-item {
  display: block;
}

.table-container .table-head li a {
  color: #8c8293;
}

.table-container .table-head li a:hover {
  text-decoration: none;
}

.table-container .table-head li.name span {

  float: left;
  width: 35px;
  height: 35px;
  background: #fff;
  line-height: 35px;
  opacity: 0;

}

.table-container .table-head li.name input, .table th input[type=text] {
  float: left;
  width: 215px;
  height: 35px;
  border: none;
  outline: none;

  margin-right: 10px;
  background: none;
  padding-left: 35px;
  line-height: 35px;
}

.table-container .table-head li.name input:focus, .table th input[type=text]:focus {
  background: url('../img/ico-search.jpg') no-repeat 10px center, #fff;
}

.table-container .table-head li.profession {
  width: 125px;
}

.table-container .table-head li.profile {
  width: 125px;
}

.table-container .table-head li.postcode {
  width: 125px;
}

.table-container .table-head li.postcode a.dropdown-link {
  padding-left: 10px;
}

.table-container .table-head .down {
  display: block;
  position: absolute;
  left: -10px;
  top: 7px;
  background: url('../img/ico-dropdown.png') no-repeat left center;
  width: 20px;
  height: 20px;
}

.table-container .table-head li.rooms-potential {
  width: 185px;
}

.table-container .table-head li.enquiry-tracks {
  width: 190px;
  padding-left: 20px;
}

.table-container .table-head li.contact {
  width: 92px;
}

.table-container .table-head li.type {
  width: 100px;
}

.table-container .table-head li.email {
  width: 125px;
  display: none;
}

.table-container .table-head li.phone {
  width: 125px;
  display: none;
}

.table-container .table-head li.greeting {
  width: 125px;
  display: none;
}

.table-container .table-head li.practice-potential {
  width: 205px;
  display: none;
}

.table-container .table-head li.mailing {
  width: 125px;
  display: none;
}

.table-container .table-head li.transaction {
  width: 125px;
  display: none;
}

.table-container .table-head li.validation {
  width: 125px;
  display: none;
}

.table-container .table-head li.added {
  width: 125px;
  display: none;
}

.table-container .table-head li.profile {
  width: 125px;
  display: none;
}

.left-side h2 {
  margin-top: 20px;
}

.dropdown-box {
  position: absolute;
  /*top: -25px;*/
  left: -20px;
  min-width: 220px;
  background: #fff;
  padding: 0px;
  padding-top: 20px;
  box-shadow: 0px 0px 10px #999;
  /*display: none;*/
  z-index: 99;
}

.dropdown-box .select-opt {
  float: left;
  width: 100%;
  height: 35px;
}

.dropdown-box .select-opt .btn-all {
  float: left;
  margin-left: 25px;
  color: #7fbeee;
  text-transform: uppercase;
}

.dropdown-box .select-opt .btn-none {
  float: left;
  margin-left: 15px;
  color: #7fbeee;
  text-transform: uppercase;
}

.dropdown-box .button-opt {
  float: left;
  width: 100%;
  height: 35px;
  margin-top: 35px;
}

.dropdown-box .button-opt .btn-filter {
  float: left;
  margin-left: 25px;
  color: #fff;
  text-transform: uppercase;
  background: #e1e1e1;
  line-height: 14px;
  padding: 7px 14px;
}

.dropdown-box .button-opt .btn-cancel {
  float: left;
  margin-left: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #e1e1e1;
  line-height: 14px;
  padding: 7px 14px;
}

.dropdown-box .button-opt .btn-filter:hover {
  background: #7ebceb;
}

.dropdown-box .button-opt .btn-cancel:hover {
  background: #f2aeaa;
}

.dropdown-box .dropdown-list {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0px;
  height: 300px;
  overflow-y: auto;
}

.dropdown-box .dropdown-list li {
  float: left;
  width: 90%;
  margin-left: 5%;
  border-bottom: #ccc 1px solid;
  line-height: 35px;
}

.dropdown-box .dropdown-list li input.chk {
  float: left;
  margin-left: 5px;
}

.dropdown-box .dropdown-list li a {
  float: left;
  padding-left: 32px;
  color: #484848;
}

.dropdown-box .dropdown-list li a {
  background: url("../img/check.png") 5px no-repeat;
  background-size: 20px;
}

.dropdown-box .dropdown-list li a.active {
  background: url('../img/chk-active.png') no-repeat 5px center;
}

.dropdown-box-date .dropdown-list li a {
  float: left;
  width: 100%;
}

.dropdown-box-date .dropdown-list li a:hover {
  background: #cdcdcd;
}

.dropdown-box-date .dropdown-list li a span {
  float: right;
  margin-right: 20px;
  font-size: 16px;
}

.dropdown-box-date .dropdown-list li a span.colls-01 {
  display: block;
}

.dropdown-box-date .dropdown-list li a span.colls-02 {
  display: none;
}

.dropdown-box-date .dropdown-list li a.active {
  /*background: none;*/
}

.dropdown-box-date .dropdown-list li a.active span.colls-01 {
  display: none;
}

.dropdown-box-date .dropdown-list li a.active span.colls-02 {
  display: block;
}

.dropdown-box .dropdown-list .dropdown-sublist {
  list-style: none;
  margin: 0px;
  padding: 0px;
  /*display: none;*/
}

.dropdown-box .dropdown-list .dropdown-sublist li a {
  padding-left: 50px;
}

.dropdown-box-date .dropdown-list li a span.year-text {
  float: left;
  font-size: 12px;
}

.dropdown-box .dropdown-list .dropdown-sublist li a.active {
  background: url('../img/chk-active.png') no-repeat 5px center;
}

.table-body-box {
  float: left;
  width: 100%;
  background: #fff;
}

.table-body-fixed-box {
  float: left;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.table-container .table-body {
  float: left;
  width: auto;
  list-style: none;
  padding: 0px;
  padding-left: 15px;
  padding-top: 15px;
}

.table-container .table-body li {
  float: left;
  width: auto;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 0px;
}

.table-container .table-body li .table-row {
  float: left;
  width: auto;
  list-style: none;
  padding: 0px;
  height: 38px;
  line-height: 38px;
}

.table-container .table-body li .table-row li {
  float: left;
  color: #434343;
  font-size: 12px;
}

.table-container .table-body li .table-row li a {
  color: #434343;
  text-decoration: none;
}

.table-container .table-body li .table-row li.name {
  width: 190px;
  cursor: pointer;
}

.table-container .table-body li .table-row li.profession {
  width: 125px;
  margin-left: 0px;
}

.table-container .table-body li .table-row li.profile {
  width: 125px;
  padding-left: 10px;
  overflow: hidden;
  height: 35px;
}

.table-container .table-body li .table-row li.postcode {
  width: 125px;
  padding-left: 20px;
}

.table-container .table-body li .table-row li.rooms-potential {
  width: 185px;
  margin-left: 0px;
}

.table-container .table-body li .table-row li.enquiry-tracks {
  width: 190px;
  margin-left: 0px;
}

.table-container .table-body li .table-row li.contact {
  width: 92px;
  text-align: left;
  margin-left: 0px;
}

.table-container .table-body li .table-row li.type {
  width: 100px;
  margin-left: 10px;
  padding: 0px;
}

.table-container .table-body li .table-row li.email {
  width: 125px;
  display: none;
  overflow: hidden;
}

.table-container .table-body li .table-row li.phone {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.greeting {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.practice-potential {
  width: 205px;
  display: none;
}

.table-container .table-body li .table-row li.mailing {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.transaction {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.validation {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.added {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.profile {
  width: 125px;
  display: none;
}

.table-container .table-body li .table-row li.enquiry-tracks .track-date {
  float: left;
  width: 75px;
  text-align: right;
  display: block;
  height: 10px;
}

.table-container .table-body li .table-row li.enquiry-tracks .progress-bar {
  float: left;
  margin-left: 15px;
  width: 88px;
  height: 10px;
  border: #eee 1px solid;
  background: none;
  margin-top: 13px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.table-container .table-body li .table-row li.enquiry-tracks .progress-bar .progress-active {
  float: left;
  width: 60%;
  height: 8px;
  display: block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.table-container .table-body li .table-row li.enquiry-tracks .progress-bar .grey-color {
  background: #ccc;
}

.table-container .table-body li .table-row li.enquiry-tracks .progress-bar .blue-color {
  background: #7fbeee;
}

.table-container .table-body li .table-row li.enquiry-tracks .progress-bar .green-color {
  background: #9fd167;
}

.btn-default {
  background: #f0f0f0;
}

.btn-default:hover {
  background: #fff;
}

.btn-active {
  background: #fff;
}

/* Users page */
.users-left-side {
  float: left;
  width: 480px;
  padding-right: 0px;
  padding-left: 50px;
}

.left-side .custom-row {
  float: left;
  width: 100%;
  position: relative;
}

.mg-20 {
  margin-top: 20px;
}

.left-side img {
  float: left;
}

.left-side .name {
  float: left;
  margin-left: 18px;
  margin-top: 4px;
  font-family: 'Helvetica';
  font-size: 19px;
  color: #424242;
  width: 280px;
}

.left-side .title {
  float: left;
  margin-left: 18px;
  margin-top: 12px;
  font-family: 'Helvetica';
  font-size: 16px;
  color: #7c7c7c;
}

.left-side .user-details {
  float: left;
  margin-top: 25px;
  padding: 25px 0px;
  width: 350px;
  background: #ffffff;
}

.left-side .user-details .label {
  float: left;
  width: 90px;
  height: 20px;
  line-height: 20px;
  text-align: right;
  display: inline-block;
  font-family: 'Helvetica';
  font-size: 12px;
  color: #adadad;
}

.left-side .user-details .text {
  float: left;
  margin-left: 20px;
  width: 200px;
  height: 20px;
  line-height: 20px;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #5e91b8;
  /*
  background:url(../img/ico-warn.png) no-repeat right center;
  */
}

.left-side .user-details .text2 {
  color: #d2d2d2;
  background: none;
}

.left-side .tracks-title {
  float: left;
  width: 100%;
  margin-top: 25px;
  font-family: 'Helvetica';
  font-size: 18px;
  color: #343434;
}

.left-side .enquiry-box {
  float: left;
  margin-top: 15px;
}

.left-side .enquiry-box .left-label {
  float: left;
  width: 260px;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #343434;
}

.left-side .enquiry-box .right-number {
  float: left;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #343434;
  width: 35px;
  text-align: right;
}

.left-side .btn-add-track {
  float: left;
  padding: 7px 12px;
  margin-top: 18px;
  background: #7ebceb;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #fff;
  border: #dae9f5 1px solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.left-side .enquiry-box .progress-bar {
  float: left;
  width: 300px;
  height: 13px;
  border: none;
  background: #fff;
  margin-top: 13px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.left-side .enquiry-box .progress-bar .progress-active {
  float: left;
  width: 60%;
  height: 12px;
  display: block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.left-side .enquiry-box .progress-bar .grey-color {
  background: #ccc;
}

.left-side .enquiry-box .progress-bar .blue-color {
  background: #7fbeee;
}

.left-side .enquiry-box .progress-bar .green-color {
  background: #9fd167;
}

.users-right-side {
  float: left;
  width: 915px;
  background: #ffffff;
  margin-left: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-bottom: 60px;

}

.users-right-side .right-menu-list {
  float: left;
  width: 100%;
  border-bottom: #e5e5e5 1px solid;
  margin-top: 8px;
  list-style: none;
  padding: 0px;
}

.users-right-side .second-level-menu {
  display: none;
}

#details-submenu {
  display: block;
}

.users-right-side .right-menu-list li {
  float: left;
  width: 80px;
  border-left: #e5e5e5 1px solid;
  height: 16px;
  padding: 12px 0px;
  padding-left: 5px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 38px;
  line-height: 38px;
  position: relative;
}

.users-right-side .right-menu-list li:first-child {
  margin-left: 20px;
  border: none;
}

.users-right-side .right-menu-list li a {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #515151;
}

.users-right-side .right-menu-list li a.active {
  color: #5ea7e7;
  height: 16px;
  line-height: 16px;
}

.users-right-side .right-menu-list li .btn-tab-arrow {
  position: absolute;
  left: 30px;
  top: 38px;
  display: none;
}

.users-right-side .right-menu-list li a.active .btn-tab-arrow {
  display: block;
}

.users-right-side .details-left-box {
  float: left;
  width: 460px;
  margin-top: 20px;
}

.users-right-side .item {
  float: left;
  width: 100%;
  padding: 14px 0px;
  position: relative;
}

.users-right-side .item .btn-edit {
  position: absolute;
  left: 103px;
  top: 15px;
}

.users-right-side .item label {
  float: left;
  width: 100px;
  text-align: right;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #aea6b3;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  margin-right: 20px;
  font-weight: normal;
}

.users-right-side .emails-add {
  float: left;
  width: 380px;
  margin-left: 40px;
  border-top: #ccc 1px solid;
  margin-top: -10px;
  padding-left: 30px;
}

.users-right-side .emails-add .ico-edit {
  float: left;
}

.users-right-side .emails-add .inp-text {
  margin-left: 10px;
}

.users-right-side .item input {
  float: left;
  width: 225px;
  border: none;
  font-family: 'Helvetica';
  font-size: 13px;
  color: #202020;
  outline: none;
  height: 20px;
  line-height: 20px;
  background: #fff;
}

/*
.users-right-side .item input.warn{
	background:url(../img/ico-warn.png) no-repeat right center,#fff;
}
*/
.users-right-side .item input.active {
  border-bottom: #333 1px solid;
}

.save-box {
  float: left;
  width: 100%;
}

.save-box a {
  background: #333;
  display: none;
}

.users-right-side .item p {
  float: left;
  width: 255px;
  height: 110px;
  border: none;
  font-family: 'Helvetica';
  font-size: 12px;
  color: #202020;
  outline: none;
  line-height: 20px;
}

.users-right-side .item .email-list-container {
  float: left;
  /*
  width:295px;
  height:100px;

  overflow:hidden;
  */
  width: 350px;
}

.users-right-side .item .email-list-container p {
  float: left;
  width: 285px;
  height: auto;
  border: none;
  font-family: 'Helvetica';
  font-size: 13px;
  color: #202020;
  outline: none;
  margin: 0px;
  line-height: 35px;
}

.users-right-side .item ul.email-list {
  float: left;
  width: 285px;
  list-style: none;
  padding: 0px;
}

.users-right-side .item ul.email-list li {
  float: left;
  position: relative;
  font-family: 'Helvetica';
  font-size: 13px;
  color: #202020;
  padding: 5px 0px;
  padding-top: 10px;
}

.users-right-side .item textarea {
  float: left;
  width: 285px;
  height: 105px;
  font-family: 'Helvetica';
  font-size: 13px;
  color: #202020;
}

.users-right-side .item .slider-box {
  float: left;
  width: 9px;
  height: 105px;
  margin-top: 5px;
  background: #bbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.details-left-box .details-box-checkbox, .details-right-box .details-box-checkbox {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
}

.details-left-box .details-box-checkbox {
  position: absolute;
  right: 70px;
  top: 20px;
}

.details-left-box .details-box-checkbox input, .details-right-box .details-box-checkbox input {

  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
  z-index: 99;
  cursor: pointer;
}

.details-left-box .details-box-checkbox span, .details-right-box .details-box-checkbox span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  background: url('../img/chk-2.png') no-repeat left top;

}

.details-left-box .details-box-checkbox input:checked + span, .details-right-box .details-box-checkbox input:checked + span {
  background: url('../img/chk-active.png') no-repeat left top;
}

.users-right-side .item .slider-box .ui-slider .ui-slider-handle {
  height: 40px;
}

#slider-email {
  float: left;
  margin-top: 40px;
  height: 65px;
  background: none;
}

.users-right-side .details-right-box {
  float: left;
  width: 450px;
  margin-left: 5px;
  margin-top: 20px;
}

.group-table-list {
  float: left;
  width: 100%;
  margin-top: 50px;
  border-top: #ccc 1px solid;
}

.btn-new-group {
  float: right;
  padding: 8px 14px;
  background: #e0e0e0;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
  margin-right: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-transform: uppercase;
}

.group-table-list .group-list {
  float: left;
  width: 880px;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  margin-left: 40px;
  list-style: none;
}

.group-table-list .group-list li {
  float: left;
  border-bottom: #efefef 1px solid;
}

.group-table-list .group-row {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.group-table-list .group-row li {
  float: left;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #000;
  margin: 0px;
  border: none;
  height: 35px;
  line-height: 35px;
}

.group-table-list .group-row li.group {
  width: 260px;
}

.group-table-list .group-row li.role {
  width: 145px;
}

.group-table-list .group-row li.room {
  width: 165px;
}

.group-table-list .group-row li.practice {
  width: 250px;
}

.group-table-list .group-list .group-table-outter-box {
  float: left;
  width: 840px;
  height: 105px;
  overflow: hidden;

}

.group-table-list .group-list .group-table-inner-box {
  float: left;

}

.group-table-list .slider-box {
  float: left;
  width: 9px;
  height: 105px;
  margin-top: 0px;
  background: #bbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.group-table-list .group-list .group-title li {
  color: #aea6b3;
}

.group-table-list .group-list .group-row li.role {
  position: relative;
  cursor: pointer;
}

.group-table-list .group-list .group-row li.role .user-list {
  position: absolute;
  width: 135px;
  list-style: none;
  box-shadow: 0px 0px 10px #ccc;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -webkit-box-shadow: 0px 0px 10px #ccc;
  z-index: 99;
  background: #fff;
  padding-left: 0px;
  padding: 0px 5px;
  top: 40px;
  left: 0px;
  display: none;
}

.group-table-list .group-list .group-row li.role .user-list li {
  float: left;
  width: 100%;
  padding-left: 12px;
  height: 38px;
  border-bottom: #ccc 1px solid;
}

.group-table-list .group-list .group-row li.role .user-list li a {
  color: #333;
}

.group-table-list .group-list .group-row .group input {
  font-size: 13px;
  border: none;
  width: 90px;

}

.group-table-list .slider-box .ui-slider .ui-slider-handle {
  height: 40px;
}

#slider-group-list {
  float: left;
  margin-top: 40px;
  height: 65px;
  background: none;
}

.people-list .slider-box {
  float: left;
  width: 9px;
  height: 205px;
  margin-top: 0px;
  background: #bbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.people-list .group-list .group-title li {
  color: #aea6b3;
}

.people-list .slider-box .ui-slider .ui-slider-handle {
  height: 40px;
}

#slider-people-list {
  float: left;
  margin-top: 40px;
  height: 165px;
  background: none;
}

/* Warn Section */
.full-warn-msg {
  position: absolute;
  left: 310px;
  top: 0px;
  z-index: 99;
}

.full-warn-msg img {
  float: left;
}

.full-warn-msg .warn-message {
  float: left;
  display: none;
}

.full-warn-msg .last-validated {
  float: right;
  width: 150px;
  display: none;
}

.full-warn-msg.active {
  padding: 5px 10px;
  left: 300px;
  top: -5px;
  box-shadow: 0px 0px 5px #ccc;
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  background: #fff;
  min-width: 200px;
}

.full-warn-msg.active .warn-message {
  float: left;
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  margin-left: 10px;
}

.full-warn-msg.active .last-validated {
  float: right;
  display: block;
  width: 150px;
  font-size: 12px;
  margin-left: 10px;
}

.users-right-side .item .full-warn-msg {
  top: 15px;
}

.users-right-side .item .full-warn-msg.active {
  top: 10px;
}

/* History Section */
.history-table-list .group-list .group-table-outter-box {
  height: 250px;
}

#slider-history-list {
  float: left;
  margin-top: 40px;
  height: 65px;
  background: none;
}

#slider-history-research-list {
  float: left;
  margin-top: 40px;
  height: 65px;
  background: none;
}

.history-table-list .group-row {
  width: 820px;
}

.history-table-list .group-row li.group {
  width: 90px;
}

.history-table-list .group-row li.role {
  width: 90px;
}

.history-table-list .group-row li.room {
  width: 90px;
}

.history-table-list .group-row li.practice {
  width: 510px;
  font-size: 13px;
}

.history-table-list .group-row li {
  height: auto;
  padding: 10px 0px;
  line-height: 18px;
}

.history-table-list .group-row li.blue-color {
  color: #5ea7e7
}

.history-table-list .group-row li.green-color {
  color: #82c56f
}

.history-table-list .group-row li.purple-color {
  color: #c58583
}

.history-table-list .group-row li.practice span {
  float: left;
  width: 100%;
  color: #929292;
}

.history-research-box {
  float: left;
  width: 100%;
  margin-top: 50px;
}

.history-research-box .line {
  float: left;
  width: 100%;
  margin: 10px 40px;
  padding-left: 40px;
  font-size: 14px;
  position: relative;
}

.history-research-box .line .full-warn-msg {
  left: 0px;
}

.history-research-box .line .full-warn-msg.active {
  left: -10px;
}

/*
#details-default-section,#history-research-section, #history-default-section{display:none;}
*/
#history-default-section .group-table-list {
  border-top: none;
  margin-top: 0px;
}

/*   */
#section-i {
  padding-top: 0px;
}

#left-siderbar {
  background: #fff;
  margin-top: 0px;
  padding-top: 40px;
  width: 460px;
  min-height: 1200px;
}

.parent-sidebar-link {
  cursor: pointer;
}

.what-title {
  float: left;
  width: 350px;
  font-weight: bold;
  font-size: 18px;
  font-family: Gotham-Medium;
  margin-bottom: 30px;
  margin-left: -5px;
}

.main-title {
  float: left;
  width: 100%;
  font-size: 11px;
  font-weight: 100;
  margin-bottom: 21px;
  line-height: 1;
  color: #6F5874;
  font-family: Gotham-Medium;
}

.sub-menu {
  float: left;
  padding-left: 20px;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  -webkit-transition: max-height 0.5s ease-out, margin-bottom 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out, margin-bottom 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out, margin-bottom 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
.sub-menu.show-sub-menu {
  margin-bottom: 25px;
  max-height: 210px;
  -webkit-transition: max-height 0.5s ease-in, margin-bottom 0.5s ease-in;
  -moz-transition: max-height 0.5s ease-in, margin-bottom 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in, margin-bottom 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

.sub-menu li a {
  font-size: 13px;
  color: #333;
  line-height: 30px;
}

.sub-menu li a:hover {
  color: #5ea7e8;
}

.sub-menu li a.active {
  color: #5ea7e8;
}

#section-ii {
  /*float: left;*/
  width: 1440px;
}

#section-i {
  float: left;
  width: 460px;
  margin-left: -460px;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#section-i.show-side-menu {
  margin-left: 0;
}
#section-i.hide-side-menu {
  margin-left: -460px;
}

.container-wrap-outter {
  float: left;
  /*width: 1440px;*/
  overflow: hidden;
}

.container-wrap-outter .container-wrap-inner {
  float: left;
  /*width: 2880px;*/
}

.col-lg-9 {
  max-width: 75%;
  overflow: scroll;
  float: left;
  height: 700px;
}

#section-i .col-lg-9 {
  background: #fff;
  min-width: 460px;
  width: 460px;
  min-height: 600px;
  overflow: auto;
  position: absolute;
}

#section-i .btn-new-preson {
  float: right;
  padding: 8px 14px;
  background: #e0e0e0;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
  margin-right: 175px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#section-i .search-inp {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 40px;
  width: 404px;
  height: 38px;
  border: none;
  outline: none;
  background: url('../img/ico-search.png') no-repeat 10px center, #f8f8f9;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#section-i .people-list {
  float: left;
  list-style: none;
  margin-top: 30px;
  padding-left: 10px;
  max-height: 465px;
  overflow-y: auto;
  overflow-x: hidden;
}

#section-i .people-list li {
  float: left;
  height: 40px;
  border-top: #ccc 1px solid;
}

#section-i .people-list li:first-child {
  border: none;
}

#section-i .people-list li ul.people-row {
  float: left;
  list-style: none;
}

#section-i .people-list li ul.people-row li {
  float: left;
  width: 150px;
  border: none;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

#section-i .people-list li ul.people-row li:first-child {
  width: 200px;
}

#people-table-outter-box {
  float: left;
  width: 700px;
  /*height: 245px;*/
  width: 420px;
  overflow: hidden;
}

#people-table-inner-box {
  float: left;
}

#look-up-person-box {
  /*display: none;*/
}

/* Overview Start */
.dots-box {
  float: left;
  width: 100%;
  padding: 20px 0px;
  padding-left: 25px;
}

.dots-box .chart-title {
  float: left;
  padding: 0px;
}

.dots-box .chart-title li {
  float: left;
  width: 130px;
  text-align: center;
  list-style: none;
  font-size: 11px;
}

.dots-box .chart-title li:first-child {
  width: 90px;
  padding-right: 10px;
  display: block;
  height: 1px;
}

.dots-box .chart-data {
  float: left;
  padding: 0px;
  position: relative;
  margin-top: 10px;
}

.dots-box .chart-data span.title {
  float: left;
  width: 90px;
  padding-right: 10px;
  text-align: right;
  color: #333;
  font-size: 13px;
}

.dots-box .chart-data--bottom-aligned span.title {
  position: relative;
  top: 5px;
}

.dots-box .chart-data .line {
  float: left;
  width: 760px;
  margin-top: 10px;
}

.dots-box .chart-data .dot {
  position: absolute;
  top: 2px;
  max-width: 350px;
}

.dots-box .chart-data .dot.active {
  background: #f8f8f8;
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 99;
}

.dots-box .chart-data .dot .dot-icon {
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  z-index: 1;
  position: relative;
}

/*
.dots-box .chart-data .dot .tooltips{float:left; width:290px; margin-left:12px; font-size:12px; line-height:21px; display:none; }
*/
.dots-box .chart-data .dot .tooltips {
  position: absolute;
  width: 390px;
  background: #f8f8f8;
  font-size: 12px;
  line-height: 21px;
  display: none;
  z-index: 99;
  padding: 10px 45px;
  padding-bottom: 35px;
  left: -15px;
  top: -10px;
}

.dots-box .chart-data .dot .more-links {
  /*float:left; margin-left:28px; display:none;*/
  position: absolute;
  bottom: 10px;
  left: 45px;
  color: #4D94E0;
  font-size: 10px;
}

.dots-box .chart-data .dot01 {
  left: 213px;
}

.dots-box .chart-data .dot02 {
  left: 243px;
}

.dots-box .chart-data .dot03 {
  left: 285px;
}

.dots-box .chart-data .dot04 {
  left: 337px;
}

.dots-box .chart-data .dot05 {
  left: 400px;
}

.dots-box .chart-data .dot06 {
  left: 463px;
}

.dots-box .chart-data .dot07 {
  left: 540px;
}

.dots-box .chart-data .dot08 {
  left: 798px;
}

.dots-box .chart-data .dot101 {
  left: 344px;
}

.dots-box .chart-data .dot102 {
  left: 355px;
}

.dots-box .chart-data .dot103 {
  left: 394px;
}

.dots-box .chart-data .dot104 {
  left: 405px;
}

.dots-box .chart-data .dot105 {
  left: 704px;
}

.dots-box .chart-data .dot106 {
  left: 798px;
}

.dots-box .chart-data .dot201 {
  left: 225px;
}

.dots-box .chart-data .dot202 {
  left: 325px;
}

.dots-box .chart-data .dot203 {
  left: 565px;
}

.dots-box .chart-data .bg-blue {
  background: #9bbddc;
}

.dots-box .chart-data .bg-grey {
  background: #e1e1e1;
}

.dots-box .chart-data .bg-red {
  background: #e6a4b8;
}

.dots-box .chart-data .bg-green {
  background: #aad6be;
}

.dots-box .chart-data .bg-purple {
  background: #adafdc;
}

#overview-section2 .chart-data {
  margin-top: 30px;
}

#overview-section2 .chart-data .line {
  float: left;
  width: 760px;
  margin-top: 20px;
}

#overview-section2 .chart-data .rect-icon {
  position: absolute;
  left: 115px;
  width: 9px;
  height: 47px;
  margin-right: 2px;
  background: #dacbd7
}

#overview-section2 #rented-chart .rect-icon {
  background: #c5d9c5
}

#overview-section2 #referred-chart .rect-icon {
  background: #b2c1da
}

#details-table-outter-box {
  height: 160px;
}

#slider-details-list {
  float: left;
  margin-top: 40px;
  height: 100px;
  background: none;
}

/* Overview End */

/* Alert Box Start */
.alert-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 180px;
  margin-top: -200px;
  background: #fff;

  padding: 45px 35px 35px 35px;
  box-shadow: 0px 0px 10px #ccc;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -webkit-box-shadow: 0px 0px 10px #ccc;

}

.alert-box p {
  float: left;
  width: 100%;
  font-family: Arial;
  font-size: 13px;
  text-align: center;
}

.alert-box .buttons {
  float: left;
  width: 100%;
  padding-left: 40px;
  margin-top: 25px;
}

.alert-box .buttons .button {
  float: left;
  width: 80px;
  height: 24px;
  margin-left: 28px;
  background: #7ebceb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  text-align: center;
  line-height: 24px;
  color: #fff;
  font-size: 13px;
}

.alert-box .buttons .button:hover {
  text-decoration: none;
}

/* Alert Box End */

/* Calendar Styling Start */
.ui-datepicker {
  background: #fff;
  border: none;
  box-shadow: 0px 0px 10px #ccc;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -webkit-box-shadow: 0px 0px 10px #ccc;
}

.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default {
  background: #fff;
  text-align: center;
}

.ui-datepicker .ui-state-hover, .ui-datepicker.ui-widget-content .ui-state-hover,
.ui-datepicker .ui-widget-header .ui-state-hover, .ui-datepicker .ui-state-focus,
.ui-datepicker.ui-widget-content .ui-state-focus, .ui-datepicker .ui-widget-header .ui-state-focus {
  background: #9ac4ed;

}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background: url('../img/calendar-next.png') no-repeat center center;
}

.ui-widget-header .ui-icon {
  background: url('../img/calendar-next.png') no-repeat center center;
}

.ui-icon, .ui-widget-content .ui-icon {
  background: url('../img/calendar-next.png') no-repeat center center;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #fff;
}

.ui-datepicker-prev .ui-icon {
  background: url('../img/calendar-prev.png') no-repeat center center;
}

.ui-datepicker-next .ui-icon {

}

/* Calendar Styling End */

/* Modal Add Start */
.inp-text {
  float: left;
  font-family: 'Helvetica';
  font-size: 13px;
  color: #424242;
  width: 90%;
  border: none;
  outline: none;
  background: none;
}

.left-side .custom-row .inp-user-profile-default {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ff0000;
  width: 105px;
  height: 105px;
  opacity: 0;
  cursor: pointer;
}

.left-side .custom-row .inp-text {
  float: left;
  font-family: 'Helvetica';
  font-size: 19px;
  color: #424242;
  width: 280px;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.left-side .custom-row .inp-profession {
  font-size: 16px;
  color: #7c7c7c;
}

.left-side .user-details .inp-potential {
  width: 200px;
  height: 20px;
  line-height: 20px;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #5e91b8;
  background: #ffffff;
}

#scrolling-page {
  float: left;

  width: -moz-calc(100% + 17px);
  width: -webkit-calc(100% + 17px);
  width: calc(100% + 17px);

  height: 600px;
  background: #fff;
  padding: 0px;
  margin-top: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.tab-section {
  float: left;
}

#history-default-section {
  min-height: 550px;
}

#history-research-section {
  float: left;
  padding-bottom: 300px;
}

.warn-msg-01 {
  left: 350px;
}

/* Modal Add End */

#history-table-outter-box {
  height: auto;
  padding-bottom: 150px;
}

#btn-edit-emails {
  left: 0px;
}

.users-right-side .item ul.link-list .full-warn-msg {
  display: block;
  left: 300px;
}

.users-right-side .item ul.link-list .full-warn-msg.active {
  left: 130px;
}

.users-right-side .item ul.link-list .full-warn-msg img {
  float: right;
}

.users-right-side .item ul.link-list .full-warn-msg .warn-message {
  float: right;
  margin-right: 15px;
}

.container-new-entry {
  padding: 20px 70px 0 70px;
}

.ht-input-text {
  width: 100%;
  height: 40px;
  line-height: 41px;
  padding-left: 15px;
  background-color: #fff;
  color: #9E9E9E;
  text-transform: uppercase;
  font-size: 9pt;
  margin: 0 0 1px;
}

.ht-input-text input[type=text] {
  float: right;
  border: 0;
  width: 80%;
  height: 40px;
  outline: none;
  color: #000;
  font-weight: normal;
  line-height: 40px;
}
.ht-input-text input.move-top-41 {
  top: -41px;
  position: relative;
}

.ht-input-dropdown {
  width: 100%;
  height: 40px;
  line-height: 41px;
  padding-left: 15px;
  background-color: #fff;
  color: #9E9E9E;
  text-transform: uppercase;
  font-size: 9pt;
  margin: 0px 0 1px;
}

.ht-input-dropdown > select {
  float: right;
  border: 0;
  width: 80%;
  height: 40px;
  outline: none;
  color: #000;
  font-weight: normal;
  line-height: 40px;
  background-color: #fff;
}

.ht-input-textarea {
  width: 100%;
  line-height: 12px;
  color: #9E9E9E;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px 0 1px;
}

.ht-input-textarea div {
  padding-left: 15px;
}

.ht-input-textarea > textarea {
  border: 0;
  width: 100%;
  outline: none;
  color: #000;
  font-weight: normal;
  background: none;
  max-width: 100%;
  padding: 0 15px;
  line-height: 14px;
  font-size: 12px;
  float: left;
  height: 14px;
  color: #4D7DA9;
}
.ht-input-textarea > textarea::-webkit-input-placeholder {
   color: #4D7DA9;
}
.ht-input-textarea > textarea:-moz-placeholder { /* Firefox 18- */
   color: #4D7DA9;  
}
.ht-input-textarea > textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #4D7DA9;  
}
.ht-input-textarea > textarea:-ms-input-placeholder {  
   color: #4D7DA9;  
}

.container-new-entry .input-group {
  width: 100%;
  margin: 40px 0;
  background-color: transparent;
  border-radius: 0;
}

.container-new-entry .btn.btn-default {
  width: 90px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: #CECECE;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  margin: 0 10px;
}
.container-new-entry .btn.btn-default:hover {
  background-color: #D6D6D6;
}
.container-new-entry .btn.btn-primary {
  width: 90px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: #81BDE6;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  margin: 0 10px;
}.container-new-entry .btn.btn-primary:hover {
  background-color: #95C5E6;
}
.container-new-entry .btn.btn-warning {
  width: 90px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: #ECABAB;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  margin: 0 10px;
}
.container-new-entry .btn.btn-warning:hover {
  background-color: #ECC3C3;
}
.drop-box {
  display: block;
  width: 600px;
  height: 330px;
  border: 2px dashed #D2D1D1;
  text-align: center;
  line-height: 330px;
  color: #777;
  cursor: pointer;
  margin-top: 70px;
}
.drop-box:hover {
  border: 2px dashed #888;
  color: #555;
}
.dragover {
  border: 2px dashed #c0a16b;
}
.container-new-entry .drop-box .image-preview {
  max-width: 100%;
  max-height: 100%;
}
.container-new-entry .image-details label {
  display: block;
  text-align: right;
  color: #9E9E9E;
}
.container-new-entry .image-details label > span {
  display: inline-block;
  width: 80%;
  text-align: left;
  font-weight: normal;
  color: #000;
  padding-left: 10px;
}
.container-new-entry .color-preview {
  margin-top: 40px;
  width: 300px;
  height: 300px;
  display: block;
}
h2.title-edit input[type=text] {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 5px 5px 5px 15px;
  width: 100%;
  line-height: 41px;
}

.house-library .table th input[type=text] {
  float: none;
  width: 54px;
  height: 35px;
  border: none;
  outline: none;
  margin-right: 10px;
  background: none;
  line-height: 35px;
  padding-left: 0;
}

.house-library .table th input[type=text]:focus {
  background: url('../img/ico-search.jpg') no-repeat 10px center, #fff;
  /*width: 220px;*/
  padding-left: 35px;
}

.house-library .table thead th:before {
   content: ' ';
  padding-right: 14px;
}
.house-library .table thead th.st-sort-ascent:before{
  content: '\25B2';
  padding-right: 5px;
  color: #E89393;
}

.house-library .table thead th.st-sort-descent:before{
  content: '\25BC';
  padding-right: 5px;
  color: #E89393;
}
.house-library .table tbody td:first-child {
  padding-left: 15px;
}
.house-library .table tbody td.hsla input[type=number] {
  width: 36px;
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 5px;
  text-align: center;
  -webkit-appearance: textfield;
}
.house-library .table tbody td.hsla input[type=number]::-webkit-outer-spin-button,
.house-library .table tbody td.hsla input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
.house-library .table tbody td.hsla input[type=number]:hover {
  border: 1px solid #577ebb;
  cursor: pointer;
}
.house-library .table tbody td.hsla input[type=number]:focus {
  border: 1px solid #577ebb;
  cursor: text;
}
.house-library .table tbody td.hex input[type=text] {
  width: 76px;
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 5px;
}
.house-library .table tbody td.hex input[type=text]:hover {
  border: 1px solid #577ebb;
  cursor: pointer;
}
.house-library .table tbody td.hex input[type=text]:focus {
  border: 1px solid #577ebb;
  cursor: text;
}
.house-library .table tbody td.previewColor {
  width: 150px;
}

/*
 * Override
 */

.house-library .table th input[type=text]:focus {
  position: relative;
  left: -35px;
}
.house-library .table th input[type=text] {
  margin-left: 14px;
}
.house-library .left-side h2 {
  text-transform: none;
}
.house-library .table span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 15px;
}
.house-library .table span.name { width: 280px; padding-left: 0;}
.house-library .table span.site { width: 150px;}
.house-library .table span.type { width: 103px;}
.house-library .table span.tags { width: 200px;padding-left: 0;}
.house-library .table span.notes { width: 350px; padding-left: 0;}

.house-library .table .name input,
.house-library .table .site input,
.house-library .table .type input,
.house-library .table .tags input { max-width: 100%; }

.house-library .table .name input[type=text] { width: 200px; }
.house-library .table .site input[type=text] { width: 100px;}
.house-library .table .type input[type=text] { width: 78px;}
.house-library .table .tags input[type=text] { width: 150px;}

.house-library .table thead th:before { position: absolute; left: -2px; top: 16px;}
.house-library .table th { min-width: 0; }