@import "noxwille.css";

body {
    background-color: #f0f0f0;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.checkbox>ul {
    list-style-type: none;
}
.table-outer {
    width: 1080px;
    height: 644px;
}
tbody {
    background-color: #ffffff;
}

.table>thead>tr>th {
    height: 50px;
}
.table>tbody>tr>td {
    height: 40px;
}
.tc-first {
    width: 195px;
}
.tc-second {
    width: 140px;
}
.tc-third {
    width: 130px;
}
.tc-fourth {
    width: 153px;
}
.tc-fifth {
    width: 213px;
}
.tc-sixth {
    width: 100px;
}
.tc-seventh {
    width: 100px;
}