

.clear{clear:both; }
/* Warn Section */
.full-warn-msg{
	position:relative; 
	float:left;
	margin:20px;
	
	left:0px;
	width:220px;
	z-index:2;
}
.full-warn-msg img{
	float:left;
}
.full-warn-msg .warn-message{
	float:left; 
	display:none;
}
.full-warn-msg .last-validated{
	float:left;
	display:none;
}
.full-warn-msg.active{ 
	left:-10px;
	padding:5px 10px;
	box-shadow:0px 0px 5px #ccc;
	-moz-box-shadow:0px 0px 5px #ccc;
	-webkit-box-shadow:0px 0px 5px #ccc;
	background:#fff;
	min-width:200px;
}
.full-warn-msg.active .warn-message{
	float:left;
	text-transform: uppercase;
	display:block; 
	font-size:12px; 
	margin-left:10px; 
	color:#333;
}
.full-warn-msg.active .last-validated{
	float:left; 
	display:block;  
	font-size:12px;  
	margin-left:10px;
	width: -moz-calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	color:#333;
}
/* Validation*/
.enquiry-box{
	float:left; margin-top:15px;
	width:300px;
}
.enquiry-box .left-label{
	float:left;
	width:260px;
	font-family:'Helvetica'; font-size:12px;
	color:#343434;
}
.enquiry-box .right-number{
	float:left;
	font-family:'Helvetica'; font-size:14px;
	color:#343434;
	width:35px;
	text-align:right;
}
.enquiry-box .progress-bar{
	float:left; 
	width:300px;
	height:10px;
	border:none;
	background:#dfdfdf;

	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	position:relative;
}
.enquiry-box .progress-bar .progress-active{
	float:left;
	width:60%;
	height:10px;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.enquiry-box .progress-bar .green-color{
	background:#9fd167;
}
.enquiry-box .progress-bar .full-warn-msg{
	position:absolute;
	margin:0px;
	top:-5px;
	left:140px;
}
.enquiry-box .progress-bar .full-warn-msg.active{ 
	left:130px;
	top:-10px;
}
.enquiry-box .progress-bar .full-warn-msg.active .last-validated{
	margin-left:24px;
}


/* List */
ul.list{
	float:left;
	width:320px;
	padding:0px;
}
ul.list li{
	float:left; 
	list-style:none;
	font-family:Arial;
	font-size:13px;
}
ul.list li ul{
	float:left;
	padding:0px;
	width:100%;
}
ul.list li.header{
	width:100%;
}
ul.list li.header ul li{
	width:50%;
	padding-left:15px;
	line-height:50px;
}
ul.list li.data{
	width:100%;
	background:#fff;
	border-bottom:1px solid #f8f8f8;
}
ul.list li.data ul li{
	width:50%;
	padding-left:15px;
	line-height:38px;
}

/* Note Box */
.note-box{
	float:left;
	padding:10px;
	width:410px;
	margin-left:20px;
}
.note-box .title{
	float:left;
	width:100%;
	font-weight:bold;
	color:#5e91b8;
	line-height:35px;
	font-family:Arial;
}
.note-box .content{
	float:left;
	width:100%;
	color:#202020;
	line-height:22px;
	font-family:Arial;
	font-size:12px;
}

/* Profile Card */
.profile-card{
	float:left;
	padding:20px;
	background:#fff; 
	margin-left:20px;
}
.profile-card .profile-img{
	float:left;
	width:120px;
}
.profile-card .profile-img img{
	width:100%;
}
.profile-card .details{
	float:left;
	margin-left:20px;
	width:275px;
}
.profile-card .details .name{
	float:left;
	width:100%;
	font-family:Arial;
	font-size:23px;
	color:#333;
}
.profile-card .details .title{
	float:left;
	width:100%;
	font-family:Arial;
	font-size:18px;
	color:#7c7c7c;
	margin-top:6px;
}
.profile-card .details .email{
	float:left;
	width:100%;
	font-family:Arial;
	font-size:12px;
	color:#333;
	margin-top:12px;
}
.profile-card .details .phone{
	float:left;
	width:100%;
	font-family:Arial;
	font-size:12px;
	color:#333;
	margin-top:10px;
}
.profile-card .details .open-link{
	float:right;
	font-family:Arial;
	font-size:12px;
	color:#81a7ea;
}

