<div class="container-fluid" id="section-ii">
  <div class="row container-new-entry">
    <div class="col-lg-12">
      <h2 class="title-edit">
        <input type="text" placeholder="Title here..." ng-model="entry.name">
      </h2>
    </div>
    <div class="col-lg-4">
        <label class="ht-input-textarea" ng-if="entry.category=='Graphics'">
          <textarea ng-model="entry.notes" placeholder="Add notes"></textarea>
        </label>

      <div class="input-group">
        <!-- <label class="ht-input-dropdown" style="width: 21%; float: left;">Category</label>
        <ui-select ng-model="entry.category" theme="selectize" style="width: 79%; height: 40px; float: right;">
          <ui-select-match>{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="category in categories | filter: $select.search">
            <div ng-bind-html="category.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        {{entry.category}} -->
        <label class="ht-input-text">Category<input type="text" ng-model="entry.category"/></label>
        <div ng-if="entry.category=='Graphics'">
          <label class="ht-input-text">Context<input type="text" ng-model="entry.context"/></label>
          <label class="ht-input-text">Type<input type="text" ng-model="entry.type"/></label>
          <label class="ht-input-text">Tags<input type="text" ng-model="entry.tags"/></label>
        </div>
        <div ng-if="entry.category=='Colours'">
          <label class="ht-input-text">Where<input type="text" ng-model="entry.where"/></label>
          <label class="ht-input-text">Which<input type="text" ng-model="entry.which"/></label>
          <label class="ht-input-text">What<input type="text" ng-model="entry.what"/></label>
        </div>
      </div>
      <div class="input-group" ng-if="entry.category=='Graphics'">
        <label class="ht-input-text">Alt text<input type="text" ng-model="entry.alt_text"/></label>
        <label class="ht-input-text">Caption<input type="text" ng-model="entry.caption"/></label>
        <label class="ht-input-text">Credit text<input type="text" ng-model="entry.credit_text"/></label>
        <label class="ht-input-text">Credit link<input type="text" ng-model="entry.credit_link"/></label>
      </div>
      <div class="input-group" ng-if="entry.category=='Colours'">
        <label class="ht-input-text">HEX<input type="text" ng-model="entry.hex"/></label>
        <label class="ht-input-text">Hue<input type="text" ng-model="entry.h"/></label>
        <label class="ht-input-text">Saturation<input type="text" ng-model="entry.s"/></label>
        <label class="ht-input-text">Lightness<input type="text" ng-model="entry.l"/></label>
        <label class="ht-input-text">Alpha<input type="text" ng-model="entry.a"/></label>
      </div>
      <div class="input-group text-center">
        <button class="btn btn-warning" ng-click="remove()">Remove</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="leave()">Leave</button>
      </div>
    </div>

    <div class="col-lg-7 col-lg-offset-1" ng-if="entry.category=='Graphics'">
      <div ngf-drop ngf-select ng-model="entry.file" class="drop-box"
           ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
           ngf-accept="'image/*'">
        <img ng-if="entry.file && entry.file.type" image-dimensions="dimensions" class="image-preview" ngf-src="entry.file" ngf-accept="'image/*'">
        <img ng-if="entry.file && !entry.file.type" image-dimensions="dimensions" class="image-preview" ngf-src="'http://52.17.175.185' + entry.file" ngf-accept="'image/*'">
        <span ng-if="!entry.file">Drop Images files here</span>
      </div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <div class="input-group image-details">
        <label>Uploaded <span ng-bind="entry.file.uploaded"></span></label>
        <label>Name <span ng-bind="buildImageName()"></span></label>
        <label>Dimension <span>{{width}}x{{height}}</span></label>
      </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1" ng-if="entry.category=='Colours'" >
      <div class="color-preview" ng-style="previewColor(entry)"></div>
    </div>
  </div>
</div>