<div class="container-fluid" id="section-ii">
  <div class="row house-library">

    <div class="col-lg-3 left-side">
      <h2>House Library</h2>

      <button class="btn btn-default" type="submit" ui-sref="new-entry">NEW ENTRY</button>


      <div class="checkbox checkbox-left-side">
        <h5>Category</h5>
        <ul>
          <li><label><input class="profession" name="category" type="radio" value="documents"
                            ng-model="category"><span></span>Documents</label></li>
          <li><label><input class="profile" name="category" type="radio" value="site-text"
                            ng-model="category"><span></span>Site text</label></li>
          <li><label><input class="postcode" name="category" type="radio" value="images"
                            ng-model="category"><span></span>Images</label></li>
          <li><label><input class="email" name="category" type="radio" value="graphics"
                            ng-model="category" ng-click="loadGraphicsAssets()"><span></span>Graphics</label></li>
          <li><label><input class="phone" name="category" type="radio" value="colours"
                            ng-model="category" ng-click="loadColoursAssets()"><span></span>Colours</label>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9">
      <table class="table" ng-if="category == 'documents'" st-table="library" st-pagination-scroll st-pipe="appendPeople">
        <thead>
        <tr>
          <th class="name" st-sort="name">
            <input type="text" placeholder="NAME" ng-model="filter.name" ng-click="stopDefault($event)">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in library | filter: filter track by $index">
          <td>{{entry.name}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table" ng-if="category == 'site-text'" st-table="library" st-pagination-scroll st-pipe="appendPeople">
        <thead>
        <tr>
          <th class="name" st-sort="name">
            <input type="text" placeholder="NAME" ng-model="filter.name" ng-click="stopDefault($event)">
          </th>
          <th class="site" st-sort="site">
            <input type="text" placeholder="SITE" ng-model="filter.site" ng-click="stopDefault($event)">
          </th>
          <th class="type" st-sort="type">
            <input type="text" placeholder="TYPE" ng-model="filter.type" ng-click="stopDefault($event)">
          </th>
          <th class="postcode" st-sort="tags">TAGS</th>
          <th class="email">NOTES</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in library | filter: filter track by $index">
          <td>{{entry.name}}</td>
          <td>{{entry.site}}</td>
          <td>{{entry.type}}</td>
          <td>{{entry.tags}}</td>
          <td>{{entry.notes}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table" ng-if="category == 'images'" st-table="library" st-pagination-scroll st-pipe="appendPeople">
        <thead>
        <tr>
          <th class="name" st-sort="name">
            <input type="text" placeholder="NAME" ng-model="filter.name" ng-click="stopDefault($event)">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in library | filter: filter track by $index">
          <td>{{entry.name}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table" ng-if="category == 'graphics'" st-table="library" st-pagination-scroll st-pipe="appendPeople">
        <thead>
        <tr>
          <th class="name" st-sort="name">
            <input type="text" placeholder="NAME" ng-model="filter.name" ng-click="stopDefault($event)">
          </th>
          <th class="site" st-sort="site">
            <input type="text" placeholder="SITE" ng-model="filter.context" ng-click="stopDefault($event)">
          </th>
          <th class="type" st-sort="type">
            <input type="text" placeholder="TYPE" ng-model="filter.type" ng-click="stopDefault($event)">
          </th>
          <th class="postcode" st-sort="postcode">TAGS</th>
          <th class="notes">NOTES</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in library | filter: filter track by $index" ui-sref="entry({entry: entry, category: category, id: entry.id})">
          <td><span class="name">{{entry.name}}</span></td>
          <td><span class="site">{{entry.context}}</span></td>
          <td><span class="type">{{entry.type}}</span></td>
          <td><span class="tags">{{entry.tags}}</span></td>
          <td><span class="notes">{{entry.notes}}</span></td>
        </tr>
        </tbody>
      </table>
      <table class="table" ng-if="category == 'colours'" st-table="library" st-pagination-scroll st-pipe="appendPeople">
        <thead>
        <tr>
          <th class="name" st-sort="name">
            <input type="text" placeholder="NAME" ng-model="filter.name" ng-click="stopDefault($event)">
          </th>
          <th class="where" st-sort="where">WHERE</th>
          <th class="which" st-sort="which">WHICH</th>
          <th class="what" st-sort="what">WHAT</th>
          <th class="hex" st-sort="hex">HEX</th>
          <th class="hsla" st-sort="h">H</th>
          <th class="hsla" st-sort="s">S</th>
          <th class="hsla" st-sort="l">L</th>
          <th class="hsla" st-sort="a">A</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in library | filter: filter track by $index" ui-sref="entry({entry: entry, category: category, id: entry.id})">
          <td>{{entry.name}}</td>
          <td>{{entry.where}}</td>
          <td>{{entry.which}}</td>
          <td>{{entry.what}}</td>
          <td class="hex">
            <input type="text" ng-model="entry.hex" ng-change="toHSLA(entry)" ng-blur="save(entry)" ng-click="stopDefault($event)"/>
          </td>
          <td class="hsla">
            <input type="number" max="360" min="0" ng-model="entry.h" ng-blur="save(entry)" ng-click="stopDefault($event)"/>
          </td>
          <td class="hsla">
            <input type="number" max="100" min="0" ng-model="entry.s" ng-blur="save(entry)" ng-click="stopDefault($event)"/>
          </td>
          <td class="hsla">
            <input type="number" max="100" min="0" ng-model="entry.l" ng-blur="save(entry)" ng-click="stopDefault($event)"/>
          </td>
          <td class="hsla">
            <input type="number" max="100" min="0" ng-model="entry.a" ng-blur="save(entry)" ng-click="stopDefault($event)"/>
          </td>
          <td class="previewColor" ng-style="previewColor(entry)"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>