<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/rooms-tools.css" media="screen">
  <link rel="stylesheet" href="css/select.css">
  <link rel="stylesheet" href="css/selectize.default.css">

  <script src="js/vendor/jquery-1.11.1.min.js"></script>
  <script src="js/vendor/jquery-ui.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

  <title>House Tools</title>
</head>
<body ng-app="HouseToolsApp">


<header class="house-tools">
  <h1>
    <a class="burger-menu-link" href="#" ng-click="showSideMenu=!showSideMenu"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    <img src="img/home-tools-logo.png" height="33"> house tools</h1>


  <!-- <div class="btn-group btn-group-xs header-nav" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><a href="#" class="home-tab"></a></button>
      <button type="button" class="btn btn-default btn-active"><a href="#" class="user-tab"></a></button>
      <button type="button" class="btn btn-default"><a href="#" class="list-tab"></a></button>
      <button type="button" class="btn btn-default"><a href="#" ></a></button>
  <span class="img-arrow img-arrow-pos2">
    <img src="img/bg-arrow-down.png" alt=""/>
  </span>
  </div> -->

  <div class="header-push">
    <p><span class="badge_сustom">2</span> Hello <span>Harriet</span></p>
  </div>
</header>

<div class="container-wrap-outter">
  <div class="container-wrap-inner">
    <side-menu visible="showSideMenu"></side-menu>
    <div ui-view></div>
  </div>
</div>
<!--Container Wrap Outter End-->
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/smart-table.min.js"></script>
<script src="js/vendor/angular-ui-router.min.js"></script>
<script src="js/vendor/ng-file-upload-shim.min.js"></script>
<script src="js/vendor/ng-file-upload.min.js"></script>
<script src="js/vendor/select.min.js"></script>
<script src="js/vendor/angular-sanitize.min.js"></script>
<script src="js/vendor/color-js.js"></script>

<script src="js/app.js"></script>
<script src="js/house-people/people.service.js"></script>
<script src="js/house-people/profession.filter.js"></script>
<script src="js/house-people/practice.filter.js"></script>
<script src="js/house-people/rooms.filter.js"></script>
<script src="js/house-people/month.filter.js"></script>
<script src="js/common/side-menu.directive.js"></script>
<script src="js/common/look-person.directive.js"></script>
<script src="js/common/focus.directive.js"></script>
<script src="js/common/infinite-scroll.directive.js"></script>
<script src="js/common/color-scheme.service.js"></script>
<script src="js/house-people/house-people.controller.js"></script>
<script src="js/house-library/house-library.controler.js"></script>
<script src="js/house-library/entry.controller.js"></script>
<script src="js/house-library/image-dimensions.directive.js"></script>
<script src="js/house-library/asset.factory.js"></script>

<!--<script src="js/rooms-tools.js"></script>-->
</body>
</html>