<div class="container-fluid" id="section-ii">
  <div class="row">

    <div class="col-lg-3 left-side">
      <h2>House People</h2>
      <ul class="list-group tasks-list">
        <li class="list-group-item"><span class="badge_сustom badge_red">5</span><a href="#">Open enquiry tracks</a>
        </li>
        <li class="list-group-item"><span class="badge_сustom badge_green">34</span><a href="#">With open tasks</a>
        </li>
        <li class="list-group-item"><span class="badge_сustom badge_blue">21</span><a href="#">Requiring
          validation</a></li>
      </ul>

      <button class="btn btn-default" type="submit">NEW PERSON</button>


      <div class="checkbox checkbox-left-side">
        <h5>Quick Filter</h5>
        <ul>
          <li><label><input class="profession" type="checkbox" ng-model="columns.profession"><span></span>Profession</label></li>
          <li><label><input class="profile" type="checkbox" ng-model="columns.profile"><span></span>Profile</label></li>
          <li><label><input class="postcode" type="checkbox" ng-model="columns.postcode"><span></span>Postcode</label></li>
          <li><label><input class="email" type="checkbox" ng-model="columns.email"><span></span>Email</label></li>
          <li><label><input class="phone" type="checkbox" ng-model="columns.phone"><span></span>Phone</label></li>
          <li><label><input class="greeting" type="checkbox" ng-model="columns.greeting"><span></span>Greeting</label></li>

          <li><label><input class="rooms-potential" type="checkbox" ng-model="columns.roomsPotential"><span></span>Rooms
            Potential</label></li>
          <li><label><input class="practice-potential" type="checkbox" ng-model="columns.practicePotential"><span></span>Practice
            Potential</label></li>

        </ul>
      </div>
      <div class="checkbox checkbox-left-side">
        <h5>Column Picker</h5>
        <ul>
          <li><label><input class="contact" type="checkbox" ng-model="columns.contact"><span></span>Contact</label></li>
          <li><label><input class="mailing" type="checkbox" ng-model="columns.mailing"><span></span>Mailing</label></li>
          <li><label><input class="transaction" type="checkbox" ng-model="columns.transaction"><span></span>Transaction</label></li>
          <li><label><input class="validation" type="checkbox" ng-model="columns.validation"><span></span>Validation</label></li>
          <li><label><input class="added" type="checkbox" ng-model="columns.added"><span></span>Added</label></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9">
      <table class="table table-striped" st-table="people" st-pagination-scroll  st-pipe="appendPeople">
        <thead>
        <tr>
          <th>#</th>
          <th class="name">
            <input type="text" id="search-name-field" placeholder="NAME" ng-model="filter.name" ng-change="reloadPeople()">
          </th>
          <th class="profession" ng-show="columns.profession">
            <profession-filter filter="professionFilter"></profession-filter>
          </th>
          <th class="profile" ng-show="columns.profile">PROFILE</th>
          <th class="postcode" ng-show="columns.postcode">
            <input type="text" id="search-postcode-field" placeholder="POSTCODE" ng-model="filter.postcode" ng-change="reloadPeople()">
          </th>
          <th class="email" ng-show="columns.email">EMAIL</th>
          <th class="phone" ng-show="columns.phone">PHONE</th>
          <th class="greeting" ng-show="columns.greeting">GREETING</th>
          <th class="rooms-potential" ng-show="columns.roomsPotential">
            <rooms-filter filter="roomsFilter"></rooms-filter>
          </th>
          <th class="practice-potential" ng-show="columns.practicePotential">
            <practice-filter filter="practiceFilter"></practice-filter>
          </th>
          <th class="enquiry-tracks" ng-show="columns.enquiryTracks">ENQUIRY TRACKS</th>
          <th class="contact" ng-show="columns.contact">
            <month-filter title="CONTACT" filter="contactFilter"></month-filter>
          </th>
          <th class="mailing" ng-show="columns.mailing">
            <month-filter title="MAILING" filter="mailingFilter"></month-filter>
          </th>
          <th class="transaction" ng-show="columns.transaction">
            <month-filter title="TRANSACTION" filter="transactionFilter"></month-filter>
          </th>
          <th class="validation" ng-show="columns.validation">
            <month-filter title="VALIDATION" filter="validationFilter"></month-filter>
          </th>
          <th class="added" ng-show="columns.added">
            <month-filter title="ADDED" filter="addedFilter"></month-filter>
          </th>
          <th class="type" ng-show="columns.type">TYPE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in people | filter: filter | profession: professionFilter | rooms: roomsFilter | practice: practiceFilter track by $index">
          <td>{{$index}}</td>
          <td>{{row.name}}</td>
          <td ng-show="columns.profession" >{{row.profession}}</td>
          <td ng-show="columns.profile">{{row.profile}}</td>
          <td ng-show="columns.postcode">{{row.postcode}}</td>
          <td ng-show="columns.email">{{row.email}}</td>
          <td ng-show="columns.phone">{{row.phone}}</td>
          <td ng-show="columns.greeting">{{row.greeting}}</td>
          <td ng-show="columns.roomsPotential">{{row.rooms}}</td>
          <td ng-show="columns.practicePotential">{{row.practice}}</td>
          <td ng-show="columns.enquiryTracks">{{row.enquiryTracks}}</td>
          <td ng-show="columns.contact">{{row.last_contact_date_string}}</td>
          <td ng-show="columns.mailing">{{row.last_mailing_date_string}}</td>
          <td ng-show="columns.transaction">{{row.last_transactions_date_string}}</td>
          <td ng-show="columns.validation">{{row.last_validation_date_string}}</td>
          <td ng-show="columns.added">{{row.last_added_date_string}}</td>
          <td ng-show="columns.type">{{row.type}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>