<div ng-click="show()">
  {{title}}
  <img class="filter-icon" src="img/filter-icon.png" alt="">
</div>
<div class="dropdown-box dropdown-box-date" ng-show="visible">
  <div class="select-opt">
    <a href="#" class="btn-all" ng-click="all()">All</a>
    <a href="#" class="btn-none" ng-click="none()">None</a>
  </div>
  <ul class="dropdown-list">
    <li ng-repeat="year in years track by $index">
      <a href="#" ng-class="{'active': year.active }" ng-click="year.opened = !year.opened">
        <span class="year-text" ng-click="toggleYear(year)">{{year.year}}</span>
        <span class="colls-01" ng-hide="year.opened">+</span>
        <span class="colls-02" ng-show="year.opened">-</span>
      </a>
      <ul class="dropdown-sublist" ng-show="year.opened">
        <li ng-repeat="month in year.months track by $index" ng-click="toggleMonth(year, month)">
          <a href="#" ng-class="{'active': month.active }" ng-bind="month.title"></a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Blank</a>
    </li>
  </ul>
  <div class="button-opt">
    <a href="#" class="btn-filter date-filter" ng-click="filterApply($event)">Filter</a>
    <a href="#" class="btn-cancel" ng-click="closeDialog($event)">Cancel</a>
  </div>

</div>