<div ng-click="show()">
  PRACTICE POTENTIAL
  <img class="filter-icon" src="img/filter-icon.png" alt="">
</div>
<div class="dropdown-box 11" ng-show="visible">
  <div class="select-opt">
    <a href="#" class="btn-all" ng-click="all()">All</a>
    <a href="#" class="btn-none" ng-click="none()">None</a>
  </div>
  <ul class="dropdown-list">
    <li ng-repeat="practice in practiceList track by $index" ng-click="practice.active = !practice.active">
      <a href="#" ng-class="{'active': practice.active }" ng-bind="practice.title"></a>
    </li>
  </ul>
  <div class="button-opt">
    <a href="#" class="btn-filter" ng-click="filterApply($event)">Filter</a>
    <a href="#" class="btn-cancel" ng-click="closeDialog($event)">Cancel</a>
  </div>

</div>