<div id="look-up-person-box" class="col-lg-9" ng-show="show">

  <input id="search-inp" class="search-inp clear" type="text" ng-model="search" focus="show"/>

  <ul class="people-list clear">
    <div class="group-table-outter-box" id="people-table-outter-box">
      <div class="group-table-inner-box" id="people-table-inner-box" ng-if="search">
        <li ng-repeat="person in persons | filter: { name: search } | limitTo: 10 track by $index">
          <ul class="people-row">
            <li class="group name"><a target="_blank" href="http://marketing.housegroup.org/person/:id" ng-bind="person.name"></a></li>
            <li class="role" ng-bind="person.profession"></li>
          </ul>
        </li>
      </div>
    </div>

    <!--<div class="slider-box">-->
    <!--<div id="slider-people-list"></div>-->
    <!--</div>-->
  </ul>

  <a class="btn-new-preson" href="#">NEW PERSON</a>

</div>