<div class="container-fluid" id="section-i" ng-class="{ 'show-side-menu': visible, 'hide-side-menu': !visible }">

  <div class="row">
    <div id="left-siderbar" class="col-lg-3 left-side">
      <div class="what-title">What do you want to do?</div>
      <div class="main-title parent-sidebar-link" ng-click="showPeopleSubMenu = !showPeopleSubMenu">PEOPLE</div>
      <ul class="sub-menu" ng-class="{ 'show-sub-menu': showPeopleSubMenu }">
        <li><a id="look-up-person-link" href="#" ng-click="showPersonList = !showPersonList">Look up a person</a></li>
        <li><a href="modal_add.html">Add a person</a></li>
        <li><a href="#">Select some people</a></li>
        <li><a href="#">See recent people</a></li>
        <li><a ui-sref="people" ng-click="visible = !visible">See the people list</a></li>
        <li><a href="#">Look at the stats</a></li>
        <li><a href="#">Change some settings</a></li>
      </ul>
      <div class="main-title">ROOM BOOKINGS</div>
      <div class="main-title">TASKS,TRACKS,PROJECTS</div>
      <div class="main-title">PRACTISE MANAGEMENT</div>
      <div class="main-title parent-sidebar-link" ng-click="showHouseLibrarySubMenu = !showHouseLibrarySubMenu">HOUSE LIBRARY</div>
      <ul class="sub-menu" ng-class="{ 'show-sub-menu': showHouseLibrarySubMenu }">
        <li><a ui-sref="new-entry"  ng-click="visible = !visible">Make a new entry</a></li>
        <li><a ui-sref="library" ng-click="visible = !visible">Browse library</a></li>
      </ul>
    </div>

    <look-person show="showPersonList"></look-person>

  </div>
</div>